[submodule "swaps-keepers"]
	path = packages/swaps-keepers
	url = https://github.com/mycelium-ethereum/swaps-keepers.git
[submodule "swaps-prices"]
	path = packages/swaps-prices
	url = https://github.com/mycelium-ethereum/swaps-prices.git
